<%- include('./inc/header.ejs', {
    title: title
})  %>
    <div class="row m-5">
        <div class="col-12">
            <form id="loginForm" class="login-form">
                <h6 class="d-none" id="error-msg" style="color: red; background-color: #FAC5C5FF; padding: 5px;"></h6>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" id="username" type="text" name="username"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" id="password" type="password" name="password"/>
                </div>
                <button type="button" class="btn btn-primary" onclick="tryLogin()">Login</button>
            </form>

        </div>
    </div>
<style>
    input{
        max-width: 300px;
        margin-bottom: 20px;
    }
</style>
<script>
    function tryLogin(){
        let user = document.getElementById('username').value;
        let pass = document.getElementById('password').value;

        fetch('http://localhost:3000/login',{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                username: user,
                password: pass
            })
        }).then(response => {
            return response.json();
        }).then(data => {
            console.log(data);
            if(data.status === 200){
                window.location.replace('http://localhost:3000/');
            }else{
                document.getElementById('error-msg').classList.remove('d-none');
                document.getElementById('error-msg').textContent = data.message;
            }
        }).catch(err => {
            console.log(err.message);
        });
    }
</script>
<%- include('./inc/footer.ejs')  %>